<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classroom</title>
</head>
<body>
<h1>Classroom</h1>
<!-- 로그인 상태를 확인하는 Thymeleaf 조건문 -->
<div th:if="${not #authorization.expression('isAuthenticated()')}">
    <!-- 로그인이 안 된 상태 -->
    <form th:action="@{/user/login}" method="get">
        <button type="submit">로그인</button>
    </form>
</div>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <!-- 로그인이 된 상태 -->
    <div>
        <form th:action="@{/classup/list}" method="get">
            <button type="submit">클래스룸 찾기</button>
        </form>
    </div>
    <div>
        <form th:action="@{/myclassroom/list}" method="get">
            <button type="submit">내 클래스룸 입장하기</button>
        </form>
    </div>
</div>

</body>
</html>