<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="mb-3">
        <label for="nickname">별명</label>
        <input type="text" th:field="*{nickname}" id="nickname">
    </div>
    <div class="mb-3">
        <label for="username">사용자ID</label>
        <input type="text" th:field="*{username}" id="username">
    </div>
    <div class="mb-3">
        <label for="password1">비밀번호</label>
        <input type="password" th:field="*{password1}" id="password1">
    </div>
    <div class="mb-3">
        <label for="password2">비밀번호 확인</label>
        <input type="password" th:field="*{password2}" id="password2">
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
</body>
</html>
